.post {
  background-color: white;
  max-width: 500px;
  border: 1px solid grey;
  margin-bottom: 45px;
  border: none;
  box-shadow: 0 0 10px lightgray;
  border-radius: 10px;
}
.post-header {
  display: flex;
  align-items: center;
  padding: 10px;
}
.post-image {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.post-avatar {
  margin-right: 10px;
}
.PostUserName {
  font-size: 20px;
  color: rgb(58, 58, 58);
  text-transform: uppercase;
  flex: 1;
}
.postCaptionBox {
  border-bottom: 2px solid lightgray;
}
.postCaption {
  padding: 10px;
  height: auto;
  word-wrap: break-word;
}
.commentFormBox {
  padding: 10px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.inputComment {
  border: none;
  outline: none;
  flex: 1;
  border-bottom: 0.5px solid lightgray;
}
.SubmitButton {
  flex: 0;
  margin-left: 20px;
}
.commentBox {
  padding: 20px;
}
.commentSection {
  margin: 2px 0;
}
.commentUserName {
  margin-right: 10px;
}
